<table class="table table-hover">
  <thead>
  <tr>
    <th style="width: 180px;"></th>
    <th class="d-none d-sm-table-cell">
      Cliente
      <small style="font-weight: normal;">(hai {{ expirations.length }} scadenze)</small>
    </th>
    <th>Servizio</th>
    <th class="text-center">Scadenza</th>
    <th class="text-right">Importo</th>
  </tr>
  </thead>

  <tbody app-scadenze-items *ngFor="let expiration of expirations"
         [expiration]="expiration"
         (onServiceActionEvent)="modalConfirm($event)"></tbody>

</table>

<app-modal-confirm [modalConfirmArgs]="modalConfirmArgs"
                   (onClicBtnSuccess)="modalConfirmSuccess($event)"></app-modal-confirm>
