<tr [ngClass]="{
'table-danger border-danger text-danger': expiration.expiration === 'expired',
'table-warning border-warning': expiration.expiration === 'in_expiration'
}">

  <td class="align-middle">

    <div class="row gx-2"
         *ngIf="expiration.expiration !== ''">

      <div class="col-4 d-grid">
        <button class="btn btn-sm"
                [ngClass]="{
                  'btn-danger': expiration.expiration === 'expired',
                  'btn-warning': expiration.expiration === 'in_expiration'
                  }"
                (click)="serviceAction({
                  'title': 'Rinnova',
                  'desc': 'Rinnovare il servizio <strong>' + expiration.service_reference + '</strong>?',
                  'btnClose': 'Annulla',
                  'btnSuccess': 'Rinnova',
                  'btnSuccessReturn': {
                    'action': 'renew',
                    'id': expiration.id
                  }
                })">
          <fa-icon [icon]="faSync"></fa-icon>
        </button>
      </div>

      <div class="col-4 d-grid">
        <button class="btn btn-sm"
                [ngClass]="{
                  'btn-danger': expiration.expiration === 'expired',
                  'btn-warning': expiration.expiration === 'in_expiration'
                  }"
                (click)="serviceAction({
                  'title': 'Avvisa il cliente',
                  'desc': 'Vuoi inviare un avviso al cliente?<br><br>Email a cui verrà inviato l\'avviso:<br><strong>' + expiration.email + '</strong>',
                  'btnClose': 'Annulla',
                  'btnSuccess': 'Avvisa',
                  'btnSuccessReturn': {
                    'action': 'alert',
                    'id': expiration.id
                  }
                })">
          <fa-icon [icon]="faAt"></fa-icon>
        </button>
      </div>

      <div class="col-4 d-grid">
        <button class="btn btn-sm"
                [ngClass]="{
                  'btn-danger': expiration.expiration === 'expired',
                  'btn-warning': expiration.expiration === 'in_expiration'
                  }">
          <fa-icon [icon]="faFileInvoiceDollar"></fa-icon>
        </button>
      </div>

    </div>

  </td>
  <td class="align-middle d-none d-sm-table-cell btn-row"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      [attr.aria-controls]="'details-' + expiration.id">
    {{ expiration.company }}
    <br>
    <small>{{ expiration.name }} - {{ expiration.email }}</small>
  </td>
  <td class="align-middle btn-row"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      [attr.aria-controls]="'details-' + expiration.id">
    {{ expiration.service }}
    <br>
    <small>{{ expiration.service_reference }}</small>
  </td>
  <td class="text-center align-middle btn-row"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      [attr.aria-controls]="'details-' + expiration.id">
    {{ expiration.date_expiration | date:'dd/MM/yyyy' }}
  </td>
  <td class="text-right align-middle btn-row"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      [attr.aria-controls]="'details-' + expiration.id">
    <strong>{{ expiration.price | currency:'EUR':'€ ':'':'it-IT' }}</strong>
    <br>
    <small>{{ expiration.price_tax | currency:'EUR':'€ ':'':'it-IT' }}</small>
  </td>

</tr>

<tr class="table-hover-custom"
    [ngClass]="{
    'table-danger border-danger text-danger': expiration.expiration === 'expired',
    'table-warning border-warning': expiration.expiration === 'in_expiration'
    }">
  <td colspan="5" style="padding: 0; margin: 0; border: 0;">

    <div id="details-{{ expiration.id }}"
         [collapse]="isCollapsed"
         [isAnimated]="true"
         class="collapse">

      <table class="table-borderless" style="width: 100%;">
        <tr *ngFor="let service of expiration.service_details">

          <td style="width: 180px;"></td>

          <td style="padding-top: 10px; padding-bottom: 10px;">

            {{ service.name }}
            <br />
            <small>
              {{ service.reference }}
            </small>

          </td>
          <td class="text-right align-middle">

            {{ service.price | currency:'EUR':'€ ':'':'it-IT' }}

          </td>

        </tr>
      </table>

    </div>

  </td>
</tr>
