<ul class="nav nav-tabs" id="dashboardTab" role="tablist">
  <li class="nav-item" role="presentation">

    <button id="expiration-tab"
            data-bs-target="#expiration"
            aria-controls="expiration"
            class="nav-link active"
            data-bs-toggle="tab"
            type="button"
            role="tab"
            aria-selected="true">Scadenze</button>

  </li>
  <li class="nav-item" role="presentation">

    <button id="income-tab"
            data-bs-target="#income"
            aria-controls="income"
            class="nav-link"
            data-bs-toggle="tab"
            type="button"
            role="tab"
            aria-selected="true">Entrate</button>

  </li>
  <li class="nav-item" role="presentation">

    <button id="profit-tab"
            data-bs-target="#profit"
            aria-controls="profit"
            class="nav-link"
            data-bs-toggle="tab"
            type="button"
            role="tab"
            aria-selected="true">Utile</button>

  </li>
</ul>

<div class="tab-content" id="dashboardTabContent">

  <div id="expiration"
       class="tab-pane show active"
       role="tabpanel"
       aria-labelledby="home-tab">

    <app-scadenze [expirations]="expirations"></app-scadenze>

  </div>

  <div id="income"
       class="tab-pane"
       role="tabpanel"
       aria-labelledby="home-tab">

    Entrate per mese

  </div>

  <div id="profit"
       class="tab-pane"
       role="tabpanel"
       aria-labelledby="home-tab">

    Utile

  </div>

</div>
