<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <a class="navbar-brand" href="#" routerLink="dashboard">ServiceM</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" href="#" routerLink="dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" href="#" routerLink="service">Servizi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" href="#" routerLink="customer">Clienti</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAnalisi" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Analisi
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownAnalisi">
            <li><a class="dropdown-item" href="#">Entrate</a></li>
            <li><a class="dropdown-item" href="#">Uscite</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLogout" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Juri
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownLogout">
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
